*
{
margin: 0;
padding: 0;
}

header {
  background-image: url(https://i.imgur.com/HiDQhCf.png);
  height: 90vh;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  border-bottom: #48bfff 3px solid;
}

@media screen and (max-width: 900px){ 
	.desktop {
    display: none;
  }
}

@media screen and (min-width: 901px){
	.mobile {
    display: none;
  }
}

@media screen and (max-width: 600px){
	.hamburger {
      float: right;
      color: white;
      padding-right: 10px;
    }
}


@media screen and (min-width: 600px){
	.hamburger {
      display: none;
    }
}

@media screen and (max-width: 600px){
	.menu {
      display: none;
    }
}

@media screen and (min-width: 600px){
	.menu {
      float: right;
      padding-right: 30px;
      padding-top: 15px;
    }
    .menu a {
     padding-left: 30px;
     color: white;
     text-decoration: none;
     font-size: 18px;
    }
    .menu a:hover{
     color: gray;
    }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container-fluid {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.logo img {
width: 100%;
max-width: 200px;
height: auto;
margin-top: 10px;
margin-left: 15px;
}

.title h3 {
font-size: 75px;
text-align: center;
padding-top: 80px;
padding-bottom: 150px;
}

@media screen and (max-width: 600px){
  .title h3 {
  font-size: 60px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 150px;
  }
}

@media screen and (max-width: 470px){
  .title h3 {
  font-size: 40px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 0px;
  }
}

.asection {
  background-color: #ededed;
  overflow: hidden;
}

.psection {
  background-color: #48bfff;
  overflow: hidden;
}

.csection {
  background-color: #ededed;
  overflow: hidden;
  display: flex;
}

.asection h3{
  font-size: 40px;
  margin-left: 50px;
  color: black;
  padding-top: 20px;
}

.asection p{
  margin-left: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-right: 50px;
}

.psection h3{
font-size: 40px;
margin-left: 50px;
color: black;
padding-top: 30px;
}

.psection p{
  margin-left: 50px;
  margin-top: 20px;
  padding-bottom: 60px;
  margin-right: 50px;
}

.pcontentdesk h3{
font-size: 40px;
margin-left: 20px;
color: black;
padding-top: 140px;
}

.pcontentdesk p{
  margin-left: 22px;
  margin-top: 20px;
  padding-bottom: 60px;
  margin-right: 50px;
}

.pimgdesktop img {
  max-width: 70%;
  height: auto;
  display: block;
  padding-top: 127px;
  margin-left: 90px;
  padding-bottom: 127px;
}

@media screen and (min-width: 575px){
  .pimgdesktop {
    width: 50%;
  }
}

.pt-1 img {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.csection h3{
  font-size: 40px;
  margin-left: 50px;
  color: black;
  padding-top: 35px;
}

.csection p{
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px;
  padding-bottom: 35px;
}

.cimgdesktop img {
  max-width: 90%;
  height: auto;
  display: block;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 100px;
}

.ccontentdesk h3{
  font-size: 40px;
  margin-left: 50px;
  color: black;
  margin-top: 40px;
}

.ccontentdesk p{
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px;
  /* padding-bottom: 35px; */
}

@media screen and (min-width: 575px){
  .cimgdesktop {
    width: 50%;
  }
}

.pt-2 img {
  width: 150%;
  height: auto;
  padding-top: 20px;
  padding-left: 5px;
}

.pb-1 img {
  margin-top: -15px;
  width: 80px;
  height: auto;
}

footer {
  background-color: black;
  align-items: center;
  color: white;
}

.uvic img {
  width: 100%;
  max-width: 30%;
  padding-left: 10px;
}

.rights p {
  margin-left: -5px;
  color: white;
  width: 100%;
  padding-top: 5px;
  font-size: 16px;
  /* font-family: "Times New Roman", Times, serif; */
}

.clement p {
  width: 90%;
  padding-top: 27px;
  padding-left: 50px;
  margin-right: -100px;
}

@media screen and (max-width: 700px){
  .clement {
    display: none;
  }
}
